body {
  margin: 0;
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container, .container-fluid, .row, .col {
  margin: 0px;
  padding: 0px;
}

code {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.custom-navbar {
  background-color: white;
  padding: 20px 30px 20px 30px;;
}

.navbar-brand {
  font-size: 15px;
  padding: 0px;
}

.nav-link {
  background-color: white;
  padding: 0px;
}

h1 {
font-size: 58px;
letter-spacing: -0.013em;
font-weight: 300;
line-height: 1.1;
}

.jumbotron {
  padding: 190px 30px 140px 30px;
}

.carousel {
  padding: 0px 0px 0px 0px;
}

.carousel-inner {
  height: 800px;
}

.services {
  font-size: 24px;
  line-height: 28px;
  padding: 140px 30px 140px 30px;
}


