body {
  margin: 0;
  padding: 40px;
  font-family: Helvetica Neue, sans-serif;
  font-size: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Helvetica Neue, sans-serif;
}

.custom-navbar {
  background-color: white;
}

h1 {
  font-size: 58px;
  letter-spacing: -0.020em;
  font-weight: 300;
  line-height: 64px;
}

.jumbotron {
  padding: 140px 0px 140px 0px;
}

#Carousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
}

.carousel-item:nth-child(1) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


